@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 10% 98%;
    --foreground: 231 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 231 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 10% 3.9%;
    --primary: 248 81% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 10% 96.1%;
    --secondary-foreground: 248 81% 5%;
    --muted: 231 10% 96.1%;
    --muted-foreground: 231 10% 45.1%;
    --accent: 198 89% 72%;
    --accent-foreground: 248 81% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 10% 89.8%;
    --input: 231 10% 89.8%;
    --ring: 248 81% 59%;
    --radius: 0.75rem;
    --chart-1: 248 81% 59%;
    --chart-2: 198 89% 72%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 231 10% 11%;
    --foreground: 231 10% 98%;
    --card: 231 10% 13%;
    --card-foreground: 231 10% 98%;
    --popover: 231 10% 11%;
    --popover-foreground: 231 10% 98%;
    --primary: 248 81% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 10% 18%;
    --secondary-foreground: 231 10% 98%;
    --muted: 231 10% 18%;
    --muted-foreground: 231 10% 63.9%;
    --accent: 198 89% 72%;
    --accent-foreground: 231 10% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 10% 18%;
    --input: 231 10% 18%;
    --ring: 248 81% 59%;
    --sidebar-background: 231 10% 11%;
    --sidebar-foreground: 231 10% 98%;
    --sidebar-primary: 248 81% 59%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 231 10% 18%;
    --sidebar-accent-foreground: 248 81% 59%;
    --sidebar-border: 231 10% 18%;
    --sidebar-ring: 248 81% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
